h1 {
    font-size: 50px;
    background: transparent;
}

.home-page {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 90vh;
    width: 100vw;
    background: transparent;
}

.home-avatar {
    max-height:100%;
    max-width: 100%;
    bottom: 0;
    right: 0;
    position: absolute;
}

.home-text {
    margin-left: 400px;
    width: 30%;
    margin-top: 100px;
    margin-bottom: auto;
}

.avatar-container {
    width: 100vw;
    height: 90vh;
    position: fixed;
}