@import '../colors.css';

.nav-bar {
    background: linear-gradient(90deg, var(--nav-bar-color), #ffffff);
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
  }
  
  .menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
    color: var(--nav-bar-icon-color);
  }
  
  .nav-menu {
    background: linear-gradient(135deg, var(--nav-bar-color), #ffffff);
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
    z-index: 999;
  }
  
  .nav-menu.active {
    left: 0;
    transition: 350ms;
  }
  
  .nav-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
  }
  
  .nav-text a {
    text-decoration: none;
    color: var(--nav-bar-icon-color);
    font-size: 24px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
  }
  
  .nav-text a:hover {
    background-color: #6dd5f7;
  }
  
  .navbar-toggle {
    background: transparent;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  span {
    margin-left: 16px;
  }